API_ID=
API_HASH=
OWNER_ID=
OWNER_USERNAME=
LOGGER_ID=
BOT_TOKEN=
BOT_USERNAME=
BOT_NAME=Saya Music
STRING_SESSION=
MONGO_DB_URI=
COOKIE_URL=
SUPPORT_CHANNEL=https://github.com/shnwazdeveloper/saya-music
SUPPORT_CHAT=https://github.com/shnwazdeveloper/saya-music/issues
DEEP_API=
API_KEY=
API_URL=https://pvtz.nexgenbots.xyz
VIDEO_API_URL=https://api.video.nexgenbots.xyz
UPSTREAM_REPO=https://github.com/shnwazdeveloper/saya-music
UPSTREAM_BRANCH=Master
